<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 组件扫描 -->
    <context:component-scan base-package="com.struggle.libra.user.service.*"/>

    <!-- 属性提取 -->
    <bean id="configProperties" class="com.yueke.gemini.common.frame.spring.core.properties.DefaultPropertyPlaceholderConfigurer">
        <constructor-arg name="pathPattern" value="classpath*:/config/libra-user-service/%s/*.properties"/>
    </bean>

    <!-- 生态上下文工具 -->
    <bean id="defaultContextUtils" class="com.yueke.gemini.common.frame.spring.core.context.utils.DefaultContextUtils"/>
</beans>